<!DOCTYPE html>
<html>
  <head>
    <title>CarManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if current_user.present? %>
        <div><%= link_to cars_index_path do %><img src="/assets/header.png" alt="logo" id="logo"><% end %></div>
        <div><%= link_to "トップ", cars_index_path, class: "text-white" %></div>
        <div><%= link_to "社用車一覧", cars_index_path, class: "text-white" %></div>
        <div><%= link_to "予約一覧", users_show_path, class: "text-white" %></div>
        <div><%= link_to "プロフィール", users_show_path,  class: "text-white" %></div>
        <div><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-white" %></div>
      <% else %>
        <div><%= link_to root_path do %><img src="/assets/header.png" alt="logo" id="logo"><% end %></div>
        <div><%= link_to "ログイン", new_user_session_path, class: "text-white" %></div>
        <div><%= link_to "新規登録", new_user_registration_path, class: "text-white" %></div>
      <% end %>
    </header>
    <%= yield %>
    <footer>
      <div class="footer">
        <p>&copy; 2023-<%= Time.current.year %> Vehicle. ALL RIGHTS RESERVED.</p>
      </div>
    </footer>
  </body>
</html>
